@import "tailwindcss";

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #e9a5a0;
  --color-primary-hover: #da8d87;
  --muted-foreground: oklch(46.04% 0.00005 271.152);
}

@layer components {
  .text-color-app {
    color: var(--color-primary);
  }

  .bg-color-app {
    background-color: var(--color-primary);
  }

  .bg-color-app-50 {
    background-color: color-mix(in oklab, var(--color-primary) 50%, transparent);
  }

  .btn-color-app {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
  }

  .text-muted {
    color: var(--muted-foreground);
  }
}

@layer base {

  .input-no-spinner::-webkit-inner-spin-button,
  .input-no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-no-spinner {
    -moz-appearance: textfield;
  }

  button {
    cursor: pointer;
  }

  .btn-color-app:hover {
    background-color: var(--color-primary-hover);
  }

  .blinking-cursor {
    animation: blink 1s infinite;
  }

  /* react-day-picker custom style */
  .rdp-month_caption {
    padding-left: 10px;
    font-size: 15px !important;
    font-weight: 500 !important;
  }

  .rdp-weeks,
  .rdp-selected {
    font-size: 14px !important;
  }

  .rdp-day {
    height: 35px !important;
    width: 35px !important;
  }

  .rdp-day_button {
    height: 35px !important;
    width: 35px !important;
  }

  .rdp-chevron {
    height: 18px !important;
    width: 18px !important;
  }

  /* Select dropdown classes */
  .dropdown-classes {
    margin-top: 8px !important;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }

  .tiptap {
    border-color: #d1d5dc;
    box-shadow: none !important;
  }
  .tiptap p.is-editor-empty:first-child::before {
    color: #a0aec0;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-weight: normal;
  }
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  50.01%,
  100% {
    opacity: 0;
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.tada-animation {
  display: inline-block;
  animation: tada 2s infinite;
}